---
import Layout from "@layouts/Layout.astro";
import Preview from "@components/Preview.astro";

let allPost = await Astro.glob("./mascotas/**/*.md");
---

<Layout subtitle="El Reino Animal">
    <div class="sm:flex p-4">
        {allPost.map((p) => <Preview post={p} />)}
    </div>
</Layout>
