---
import Layout from "@layouts/Layout.astro";
import Preview from "@components/Preview.astro";

let allPosts = await Astro.glob("./noticias/**/*.md");
---

<Layout subtitle="Noticias día a día">
    <div class="p-4 sm:p-0 grid grid-cols-3">
        {allPosts.map((p, index) => <Preview post={p} />)}
    </div>
</Layout>
