---
interface Props {
    post: any;
}

const { post } = Astro.props;
---

<div class="h-100 z-20 px-6 sm:px-12 py-4 shadow-md majerit">
    <a href={post.url}
        ><h1
            class="text-center text-xl sm:text-left sm:text-4xl versalitas"
            set:html={post.frontmatter.title}
        /></a
    >
    <div class="flex space-x-1 text-xs sm:text-sm">
        <h2
            set:html={(post.frontmatter.subtitle
                ? post.frontmatter.subtitle
                : "") + (post.frontmatter.link ? post.frontmatter.link : "")}
        />
    </div>
</div>
